h1{
    color: #404040;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    line-height: 150px;
}

h2{
    color: purple;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 30px;
}
body{
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button-container {
  text-align: center;
}

.form-label-container {
  text-align: center;
  line-height: 30px;
  
}

.form-other {
  border: 1px solid black;
  display: inline-block;
  text-align: center;    
  /*margin-left: 25%;
  margin-right: 25%;
  width: 25%;*/
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  p{
    
    text-align: center;   
    font-size: 40px;
  }